.header {
  position: relative;
  z-index: 100;

  @include laptop {
    padding: 26px 0 19px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
    background-color: #ffffff;
    border-bottom: 1px solid #505050;
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 18px;
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 18px;

    @include laptop {
      align-items: flex-start;
    }
  }

  &__burger {
    position: relative;
    z-index: 10;
    display: none;
    flex: 0 0 auto;

    @include laptop {
      display: block;
      padding: 2px 0 0;
    }

    @include mobile {
      padding: 1px 0 0;
    }

    &-button {
      display: block;
      width: 20px;
      padding: 0;
      aspect-ratio: 4 / 3;
      border: none;
      outline: none;
      background: url(../assets/burger.svg) center / cover no-repeat;
      cursor: pointer;
    }
  }

  &__logo {
    position: relative;
    z-index: 10;
    display: block;
    width: fit-content;

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;

      &-image {
        display: block;
        max-width: 100%;
        width: 234px;
        height: auto;

        @include laptop {
          width: 180px;
        }

        @include mobile {
          width: 114px;
        }
      }
    }
  }

  &__nav {
    position: static;
    z-index: 10;
    margin: 0 0 -1px;
    padding: 0;
    padding-left: 76px;

    @include desktop {
      padding-left: 40px;
    }

    @include laptop {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      padding: 0;
      background-color: rgba($color: #000000, $alpha: 0);
      transition-property: background-color;
      transition-timing-function: ease-out;
      transition-duration: 0.4s;
    }

    &.active {
      @include laptop {
        background-color: rgba($color: #000000, $alpha: 0.15);
      }
    }

    &-wrapper {
      @include laptop {
        max-width: 360px;
        height: 100%;
        width: 100%;
        padding: 98px 18px 30px;
        box-sizing: border-box;
        background-color: #f1f1f1;
        transform: translateX(-120dvw);
        transition-property: transform;
        transition-timing-function: ease-out;
        transition-duration: 0.4s;
      }

      @include mobile {
        max-width: none;
      }
    }

    &.active &-wrapper {
      @include laptop {
        transform: translateX(0);
      }
    }

    &-content {
      @include laptop {
        max-height: calc(100dvh - 98px - 30px);
        padding-right: 6px;
        overflow: auto;
      }
    }

    &-searchbar {
      display: none;

      @include laptop {
        display: flex;
        align-items: center;
        gap: 4px;
        margin-bottom: 33px;
        padding-bottom: 13px;
        border-bottom: 1px solid #505050;
      }

      &-input {
        display: inline-block;
        flex: 1 1 auto;
        width: 100%;
        padding: 0;
        padding-left: 24px;
        box-sizing: border-box;
        font-weight: 300;
        font-size: 15px;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: #505050;
        border: none;
        outline: none;
        background: url(../assets/search.svg) left center / 14px no-repeat;

        &::placeholder {
          color: #c1c1c1;
        }
      }

      &-reset {
        display: inline-block;
        flex: 0 0 auto;
        width: 18px;
        padding: 0;
        aspect-ratio: 1 / 1;
        border: none;
        outline: none;
        background: url(../assets/close.svg) center / 12px no-repeat;
      }
    }

    &-menu {
      display: flex;
      align-items: center;
      gap: 77px;
      margin: 0;
      padding: 0;
      list-style-type: none;

      @include desktop {
        gap: 48px;
      }

      @include laptop {
        align-items: flex-start;
        flex-direction: column;
        gap: 15px;
      }

      &-item {
        display: inline-block;
        flex: 0 0 auto;
        padding: 64px 0 48px;

        @include laptop {
          position: relative;
          gap: 24px;
          width: 100%;
          padding: 0;
        }

        &.active::after {
          transform: rotate(90deg);
        }

        &:has(.header__nav-submenu) {
          &::after {
            @include laptop {
              content: '';
              position: absolute;
              top: 2px;
              right: 0;
              display: block;
              flex: 0 0 auto;
              width: 14px;
              aspect-ratio: 1 / 1;
              background: url(../assets/shevron-next.svg) center / cover no-repeat;
              transition: transform ease-in-out 0.2s;
            }
          }
        }

        &-link {
          display: inline-block;
          font-weight: 300;
          font-size: 20px;
          line-height: 125%;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          text-align: center;
          color: #505050;

          @include laptop {
            padding-right: 20px;
            font-size: 15px;
            text-align: left;
          }

          &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
          }
        }
      }
    }

    &-submenu {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 50;
      display: none;
      padding: 26px 0 38px;
      background-color: #f1f1f1;

      @include laptop {
        position: static;
        display: block;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        transition: max-height ease-in-out 0.4s;
      }

      &-wrapper {
        display: flex;
        gap: 80px;
        max-width: 1580px;
        margin: 0 auto;
        padding: 0 18px;

        @include laptop {
          display: block;
          padding: 8px 0 0;
        }
      }

      &-content {
        flex: 0 0 auto;
      }

      &-title {
        margin: 0 0 15px;

        @include laptop {
          display: none;
        }

        &-link {
          font-weight: 300;
          font-size: 20px;
          letter-spacing: 0.06em;
          text-transform: uppercase;
          color: #505050;

          &:hover {
            text-decoration: underline;
            text-underline-offset: 3px;
          }
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin: 0;
        padding: 0;
        list-style-type: none;

        @include laptop {
          gap: 4px;
        }

        &-item {
          &-link {
            font-weight: 300;
            font-size: 15px;
            line-height: 125%;
            letter-spacing: 0.02em;
            text-align: center;
            color: #505050;

            @include laptop {
              font-size: 13px;
            }

            &:hover {
              text-decoration: underline;
              text-underline-offset: 3px;
            }
          }
        }
      }

      &-gallery {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 21px;

        @include laptop {
          margin-top: 8px;
          gap: 8px;
        }

        &-item {
          flex: 0 0 auto;

          @include laptop {
            flex: 0 0 calc(50% - 8px / 2);
          }

          &-image {
            display: block;
            width: 209px;
            aspect-ratio: 1 / 1;
            object-fit: cover;
          }
        }
      }
    }

    &-menu-item:hover &-submenu {
      display: block;
    }

    &-menu-item.active &-submenu {
      @include laptop {
        max-height: 800px;
      }
    }

    &-info {
      display: none;

      @include laptop {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin: 44px 0 0;
        padding: 0;
        list-style-type: none;
      }

      &-item {
        flex: 1 1 100%;

        &-link {
          font-weight: 300;
          font-size: 13px;
          letter-spacing: 0.02em;
          color: #505050;
        }
      }
    }
  }

  &__search {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex: 1 1 auto;
    height: 38px;

    @include laptop {
      height: auto;
    }

    &-button {
      display: block;
      width: 21px;
      padding: 0;
      aspect-ratio: 1 / 1;
      border: none;
      outline: none;
      background: url(../assets/search.svg) center / 19px no-repeat;
      cursor: pointer;

      @include mobile {
        width: 16px;
        background-size: 14px;
      }
    }
  }

  &__searchbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    padding: 134px 0 0;
    pointer-events: none;
    background-color: rgba($color: #000000, $alpha: 0);
    transition-property: background-color;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    will-change: background-color;

    @include laptop {
      padding-top: 80px;
    }

    @include mobile {
      padding-top: 67px;
    }

    &.active {
      pointer-events: all;
      background-color: rgba($color: #000000, $alpha: 0.15);
    }

    &-wrapper {
      min-height: 288px;
      padding: 52px 0 24px;
      box-sizing: border-box;
      border-bottom: 1px solid rgba($color: #505050, $alpha: 0.4);
      background-color: #ffffff;
      transform: translateY(-120%);
      transition-property: transform;
      transition-timing-function: ease-out;
      transition-duration: 0.4s;
      will-change: transform;

      @include mobile {
        padding: 16px 0 24px;
        min-height: 134px;
      }
    }

    &.active &-wrapper {
      transform: translateY(0%);
    }

    &-container {
      max-width: 1580px;
      margin: 0 auto;
      padding: 0 18px;
    }

    &-input {
      display: block;
      max-width: 826px;
      width: 100%;
      padding: 2px 0;
      padding-left: 21px;
      box-sizing: border-box;
      font-weight: 300;
      font-size: 15px;
      line-height: 125%;
      letter-spacing: 0.02em;
      color: #505050;
      border: none;
      outline: none;
      border-bottom: 1px solid #505050;
      background: url(../assets/search.svg) left center / 14px no-repeat;

      &::placeholder {
        color: #c1c1c1;
      }
    }
  }
}
